body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#stationList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	height: 75%;
	width: 75%;
	overflow: scroll;
	background: #f0f0f0;
	border: 3px #aaa solid;
    display: flex;
    padding:7px;
}

#stationList li {
	display:block;
	max-width: 400px;
	max-height: 90%;
	list-style: none;
	background-color: #fff;
	box-shadow: 0px 1px 1px #333;
	border-radius:3px;
	margin: 7px;
	padding: 7px;
}

#lineList {
	padding: 20px;
	column-count: 2;
	position: fixed;
	height: 90%;
	top: 0;
	left: 0;
	width: 100%;
	overflow: scroll;
	background: #ffffff;
}

#lineList li {
	display: block;
	padding: 3px;
	font-size: 20px;
	margin-bottom: 8px;
}

#lineList li a {
	cursor: pointer;
}

#closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}