#stationList {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	overflow: scroll;
	background: #ffffff;
}

#lineList {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	overflow: scroll;
	background: #ffffff;
}

#lineList li {
	display: block;
	cursor: pointer;
	padding: 3px;
	font-size: 20px;
	margin-bottom: 8px;
}

#closeButton {
	position: fixed;
	top: 10px;
	right: 10px;
	cursor: pointer;
}